
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}
.flag{
    width: 600px;
    height: 355px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.blue-section{
    width: 240px;
    height: 190px;
    background-color: #002868;
}
.rectangle{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(9,1fr);
    padding: 5px;
}
#star{
    color: white;
    font-size: 25px;
    text-align: center;
}
.stripes{
width: 100%;
height: 100%;
}
.stripe{
    width: 100%;
    height: 33.3px
}
.red{
    background-color: red;
}
.white{
    background-color: white;
}
.top{
    display:flex;
    height: 190px;
    width: 600px;
}
.top-right{
    height: 190px;
    width: 360px;
    background-color: beige;
    justify-content: end;
}
